
@{
    ViewBag.Title = "Login";
}

<link href="~/Content/sass/Login.min.css" rel="stylesheet" />

<form action="/" method="post" class="container__form">
    <div class="container__form-bloque">
        <div class="container__form-bloque-titulo">
            <h2>Usuario</h2>
            @Html.ActionLink("Crear cuenta", "Registrar", "Account")
        </div>
        <input type="text" name="user" value="" />
    </div>
    <div class="container__form-bloque">
        <h2>Contraseña</h2>
        <input type="password" name="pass" value="" />
    </div>
    <div class="boton">
        <a href="#" class="enterbutton">Ingresa</a>
    </div>
</form>
