@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/sass/Home.min.css" rel="stylesheet"/>
<main>
    <h1> EXAMENWEB!</h1>
    @Html.ActionLink("Ingresa", "Login", "Account",null, new {@class = "enterbutton"})
</main>

